In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import datetime as dt
#from config import postgres_password

In [2]:
csv_file = "../Resources/Visas/us_perm_visas.csv"
visa_data_df = pd.read_csv(csv_file)
visa_data_df.head()

C:\Users\adfil\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0,1,2,3,4,5,6,7,10,11,16,17,20,21,22,25,26,27,28,29,30,31,32,33,34,35,36,37,39,40,41,42,43,44,45,47,48,49,50,51,52,53,55,56,57,58,59,60,61,63,64,65,66,68,69,70,71,72,73,74,77,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,100,101,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,153) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,add_these_pw_job_title_9089,agent_city,agent_firm_name,agent_state,application_type,case_no,case_number,case_received_date,case_status,class_of_admission,...,ri_pvt_employment_firm_to,ri_us_workers_considered,schd_a_sheepherder,us_economic_sector,wage_offer_from_9089,wage_offer_to_9089,wage_offer_unit_of_pay_9089,wage_offered_from_9089,wage_offered_to_9089,wage_offered_unit_of_pay_9089
0,NaN,NaN,NaN,NaN,PERM,A-07323-97014,NaN,NaN,Certified,J-1,...,NaN,NaN,NaN,IT,75629,NaN,yr,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,PERM,A-07332-99439,NaN,NaN,Denied,B-2,...,NaN,NaN,NaN,Other Economic Sector,37024,NaN,yr,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,PERM,A-07333-99643,NaN,NaN,Certified,H-1B,...,NaN,NaN,NaN,Aerospace,47923,NaN,yr,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,PERM,A-07339-01930,NaN,NaN,Certified,B-2,...,NaN,NaN,NaN,Other Economic Sector,10.97,NaN,hr,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,PERM,A-07345-03565,NaN,NaN,Certified,L-1,...,NaN,NaN,NaN,Advanced Mfg,100000,NaN,yr,NaN,NaN,NaN

In [3]:
# Keep Important Columns
small_col_visa_df = visa_data_df[["case_no",
                                  "case_number",
                                  "case_status",
                                  "class_of_admission",
                                  "country_of_citizenship",
                                  "country_of_citzenship",
                                  "decision_date",
                                  "employer_country",
                                  "employer_num_employees",
                                  "employer_postal_code",
                                  "employer_state",
                                  "employer_yr_estab",
                                  "foreign_worker_info_birth_country",
                                  "fw_info_birth_country",
                                  "foreign_worker_info_education",
                                  "foreign_worker_info_major",
                                  "foreign_worker_info_postal_code",
                                  "fw_info_postal_code",
                                  "foreign_worker_info_rel_occup_exp",
                                  "fw_info_rel_occup_exp",
                                  "foreign_worker_info_state",
                                  "foreign_worker_info_training_comp",
                                  "fw_info_training_comp",
                                  "foreign_worker_ownership_interest",
                                  "fw_ownership_interest",
                                  "foreign_worker_yr_rel_edu_completed",
                                  "fw_info_yr_rel_edu_completed",
                                  "ji_offered_to_sec_j_foreign_worker",
                                  "ji_offered_to_sec_j_fw",
                                  "job_info_education",
                                  "job_info_work_postal_code",
                                  "job_info_work_state",
                                  "orig_file_date",
                                  "pw_amount_9089",
                                  "pw_unit_of_pay_9089",
                                  "wage_offer_from_9089",
                                  "wage_offer_unit_of_pay_9089",
                                  "wage_offered_from_9089",
                                  "wage_offered_unit_of_pay_9089"]]
small_col_visa_df.head()

,case_no,case_number,case_status,class_of_admission,country_of_citizenship,country_of_citzenship,decision_date,employer_country,employer_num_employees,employer_postal_code,...,job_info_education,job_info_work_postal_code,job_info_work_state,orig_file_date,pw_amount_9089,pw_unit_of_pay_9089,wage_offer_from_9089,wage_offer_unit_of_pay_9089,wage_offered_from_9089,wage_offered_unit_of_pay_9089
0,A-07323-97014,NaN,Certified,J-1,NaN,ARMENIA,2012-02-01,NaN,NaN,10010,...,NaN,NaN,NY,NaN,75629,yr,75629,yr,NaN,NaN
1,A-07332-99439,NaN,Denied,B-2,NaN,POLAND,2011-12-21,NaN,NaN,7072,...,NaN,NaN,NY,NaN,37024,yr,37024,yr,NaN,NaN
2,A-07333-99643,NaN,Certified,H-1B,NaN,INDIA,2011-12-01,NaN,NaN,23059,...,NaN,NaN,MD,NaN,47923,yr,47923,yr,NaN,NaN
3,A-07339-01930,NaN,Certified,B-2,NaN,SOUTH KOREA,2011-12-01,NaN,NaN,11354,...,NaN,NaN,NY,NaN,10.97,hr,10.97,hr,NaN,NaN
4,A-07345-03565,NaN,Certified,L-1,NaN,CANADA,2012-01-26,NaN,NaN,12204,...,NaN,NaN,NY,NaN,94890,yr,100000,yr,NaN,NaN

# Combine Similar Columns

In [5]:
#Case Number
small_col_visa_df['case_number'].fillna(small_col_visa_df['case_no'], inplace = True)
small_col_visa_df['case_number'].head()

0    A-07323-97014
1    A-07332-99439
2    A-07333-99643
3    A-07339-01930
4    A-07345-03565
Name: case_number, dtype: object

In [20]:
#Country of Citizenship
small_col_visa_df['country_of_citizenship'].fillna(small_col_visa_df['country_of_citzenship'], inplace = True)

In [21]:
#FW Birth Country
small_col_visa_df['foreign_worker_info_birth_country'].fillna(small_col_visa_df['fw_info_birth_country'], inplace = True)

In [22]:
#FW Postal Code
small_col_visa_df['foreign_worker_info_postal_code'].fillna(small_col_visa_df['fw_info_postal_code'], inplace = True)

In [23]:
#FW Has Required Experience?
small_col_visa_df['foreign_worker_info_rel_occup_exp'].fillna(small_col_visa_df['fw_info_rel_occup_exp'], inplace = True)

In [24]:
#FW completed Required Training?
small_col_visa_df['foreign_worker_info_training_comp'].fillna(small_col_visa_df['fw_info_training_comp'], inplace = True)

In [25]:
#FW has ownership interest?
small_col_visa_df['foreign_worker_ownership_interest'].fillna(small_col_visa_df['fw_ownership_interest'], inplace = True)

In [26]:
#FW has required Education?
small_col_visa_df['foreign_worker_yr_rel_edu_completed'].fillna(small_col_visa_df['fw_info_yr_rel_edu_completed'], inplace = True)

In [27]:
#FW is position being sponsored?
small_col_visa_df['ji_offered_to_sec_j_foreign_worker'].fillna(small_col_visa_df['ji_offered_to_sec_j_fw'], inplace = True)

In [28]:
# Wage offered
small_col_visa_df['wage_offer_from_9089'].fillna(small_col_visa_df['wage_offered_from_9089'], inplace = True)

In [29]:
# Unit of Pay for wage offered
small_col_visa_df['wage_offer_unit_of_pay_9089'].fillna(small_col_visa_df['wage_offered_unit_of_pay_9089'], inplace = True)

# Attempting to calculate an adjusted Yearly wage

In [30]:
#How are they paid?
small_col_visa_df.wage_offer_unit_of_pay_9089.unique()

array(['yr', 'hr', 'mth', 'wk', 'bi', nan, 'Year', 'Hour', 'Week',
       'Month', 'Bi-Weekly'], dtype=object)

In [31]:
for index, row in small_col_visa_df.iterrows():
    if row["wage_offer_unit_of_pay_9089"] == "hr":
        row["Adj_annual_wage"] = row["wage_offer_from_9089"] * 40 * 50
        
        # 40 hrs/ week , 50weeks/year
        
        #Goal would be to contiue this for the other wages

In [18]:
small_col_visa_df[["Adj_annual_wage"]].head()

KeyError: "None of [Index(['Adj_annual_wage'], dtype='object')] are in the [columns]"

In [ ]:
# Keep Columns -> We can remove the other related columns because they are now duplicates
# case_number
# country_of_citizenship
# foreign_worker_info_birth_country
# foreign_worker_info_postal_code
# foreign_worker_info_rel_occup_exp
# foreign_worker_info_training_comp
# foreign_worker_ownership_interest
# foreign_worker_yr_rel_edu_completed
# ji_offered_to_sec_j_foreign_worker
# wage_offer_from_9089
# wage_offer_unit_of_pay_9089

In [32]:
slim_visa_db =  small_col_visa_df[["case_number",
                                  "case_status",
                                  "class_of_admission",
                                  "country_of_citizenship",
                                  
                                  "decision_date",
                                  "employer_country",
                                  "employer_num_employees",
                                  "employer_postal_code",
                                  "employer_state",
                                  "employer_yr_estab",
                                  "foreign_worker_info_birth_country",
                                  
                                  "foreign_worker_info_education",
                                  "foreign_worker_info_major",
                                  "foreign_worker_info_postal_code",
                                  
                                  "foreign_worker_info_rel_occup_exp",
                                  
                                  "foreign_worker_info_state",
                                  "foreign_worker_info_training_comp",
                                  
                                  "foreign_worker_ownership_interest",
                                  
                                  "foreign_worker_yr_rel_edu_completed",
                                  
                                  "ji_offered_to_sec_j_foreign_worker",
                                  
                                  "job_info_education",
                                  "job_info_work_postal_code",
                                  "job_info_work_state",
                                  "orig_file_date",
                                  "pw_amount_9089",
                                  "pw_unit_of_pay_9089",
                                  "wage_offer_from_9089",
                                  "wage_offer_unit_of_pay_9089"]]
slim_visa_db.head()

,case_number,case_status,class_of_admission,country_of_citizenship,decision_date,employer_country,employer_num_employees,employer_postal_code,employer_state,employer_yr_estab,...,foreign_worker_yr_rel_edu_completed,ji_offered_to_sec_j_foreign_worker,job_info_education,job_info_work_postal_code,job_info_work_state,orig_file_date,pw_amount_9089,pw_unit_of_pay_9089,wage_offer_from_9089,wage_offer_unit_of_pay_9089
0,A-07323-97014,Certified,J-1,ARMENIA,2012-02-01,NaN,NaN,10010,NY,NaN,...,NaN,NaN,NaN,NaN,NY,NaN,75629,yr,75629,yr
1,A-07332-99439,Denied,B-2,POLAND,2011-12-21,NaN,NaN,7072,NY,NaN,...,NaN,NaN,NaN,NaN,NY,NaN,37024,yr,37024,yr
2,A-07333-99643,Certified,H-1B,INDIA,2011-12-01,NaN,NaN,23059,VA,NaN,...,NaN,NaN,NaN,NaN,MD,NaN,47923,yr,47923,yr
3,A-07339-01930,Certified,B-2,SOUTH KOREA,2011-12-01,NaN,NaN,11354,NY,NaN,...,NaN,NaN,NaN,NaN,NY,NaN,10.97,hr,10.97,hr
4,A-07345-03565,Certified,L-1,CANADA,2012-01-26,NaN,NaN,12204,NY,NaN,...,NaN,NaN,NaN,NaN,NY,NaN,94890,yr,100000,yr

In [ ]:
slim_visa_db.set_index('case_number')

In [35]:
#exporting reduced file as CSV
slim_visa_db.to_csv("../Resources/Visas/slim_visas.csv")

In [36]:
rds_connection_string = f"postgres:{postgres_password}@localhost:5432/ETL_Project"
engine = create_engine(f'postgresql://{rds_connection_string}')

SyntaxError: invalid syntax (<fstring>, line 1)

In [ ]:
engine.table_names()

In [ ]:
engine.execute('DELETE from "visa_data"')
result = engine.execute('SELECT * FROM "visa_data"')

slim_visa_db.to_sql(name='visa_data', con=engine, if_exists='append', index=False)

In [ ]:
# Attempts to clean the data

In [ ]:
#Case Number

for index, row in small_col_visa_df.iterrows():
    df['case_number'].fillna(df['case_no'])
    
    if pd.isnull(row['case_number']):
        row['caseNumber'] = row['case_no']

    elif pd.notnull(row['case_number']):
        row['caseNumber'] = row['case_number']
        
    elif pd.isnull(row['country_of_citizenship']):
        row['countryCitizenship'] = row['country_of_citzenship']

    else:
        row['countryCitizenship'] = row['country_of_citizenship']
    
        
small_col_visa_df[["country_of_citizenship","country_of_citzenship","countryCitizenship"]].head()
     
# pd.notnull(row['country_of_citizenship'])

In [ ]:
#Country of Citizenship

for index, row in small_col_visa_df.iterrows():
    if pd.isnull(row['country_of_citizenship']):
        row['countryCitizenship'] = row['country_of_citzenship']

    else:
        row['countryCitizenship'] = row['country_of_citizenship']
        
small_col_visa_df[["country_of_citizenship","country_of_citzenship","countryCitizenship"]].head()

In [19]:
#Foreign Worker Birth Country

for index, row in small_col_visa_df.iterrows():
    if pd.isnull(row['foreign_worker_info_birth_country']):
        row['birthCountry'] = row['fw_info_birth_country']

    else:
        row['birthCountry'] = row['foreign_worker_info_birth_country']
        
small_col_visa_df[["foreign_worker_info_birth_country", "fw_info_birth_country", "birthCountry"]].head()

KeyboardInterrupt: