In [53]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import datetime as dt
from config import postgres_password

In [2]:
csv_file = "../Data/us_perm_visas.csv"
visa_data_df = pd.read_csv(csv_file)
visa_data_df.head()

/Users/ethan_martin95/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,2,3,4,5,6,7,8,11,12,17,18,21,22,23,26,27,28,29,30,31,32,33,34,35,36,37,38,40,41,42,43,44,45,46,48,49,50,51,52,53,54,56,57,58,59,60,61,62,64,65,66,67,69,70,71,72,73,74,75,78,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,101,102,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,154) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,add_these_pw_job_title_9089,agent_city,agent_firm_name,agent_state,application_type,case_no,case_number,case_received_date,case_status,...,ri_pvt_employment_firm_to,ri_us_workers_considered,schd_a_sheepherder,us_economic_sector,wage_offer_from_9089,wage_offer_to_9089,wage_offer_unit_of_pay_9089,wage_offered_from_9089,wage_offered_to_9089,wage_offered_unit_of_pay_9089
0,0,NaN,NaN,NaN,NaN,PERM,A-07323-97014,NaN,NaN,Certified,...,NaN,NaN,NaN,IT,75629,NaN,yr,NaN,NaN,NaN
1,0,NaN,NaN,NaN,NaN,PERM,A-07332-99439,NaN,NaN,Denied,...,NaN,NaN,NaN,Other Economic Sector,37024,NaN,yr,NaN,NaN,NaN
2,0,NaN,NaN,NaN,NaN,PERM,A-07333-99643,NaN,NaN,Certified,...,NaN,NaN,NaN,Aerospace,47923,NaN,yr,NaN,NaN,NaN
3,0,NaN,NaN,NaN,NaN,PERM,A-07339-01930,NaN,NaN,Certified,...,NaN,NaN,NaN,Other Economic Sector,10.97,NaN,hr,NaN,NaN,NaN
4,0,NaN,NaN,NaN,NaN,PERM,A-07345-03565,NaN,NaN,Certified,...,NaN,NaN,NaN,Advanced Mfg,100000,NaN,yr,NaN,NaN,NaN

In [3]:
# Keep Important Columns
small_col_visa_df = visa_data_df[["case_no",
                                  "case_number",
                                  "case_status",
                                  "class_of_admission",
                                  "country_of_citizenship",
                                  "country_of_citzenship",
                                  "decision_date",
                                  "employer_country",
                                  "employer_num_employees",
                                  "employer_postal_code",
                                  "employer_state",
                                  "employer_yr_estab",
                                  "foreign_worker_info_birth_country",
                                  "fw_info_birth_country",
                                  "foreign_worker_info_education",
                                  "foreign_worker_info_major",
                                  "foreign_worker_info_postal_code",
                                  "fw_info_postal_code",
                                  "foreign_worker_info_rel_occup_exp",
                                  "fw_info_rel_occup_exp",
                                  "foreign_worker_info_state",
                                  "foreign_worker_info_training_comp",
                                  "fw_info_training_comp",
                                  "foreign_worker_ownership_interest",
                                  "fw_ownership_interest",
                                  "foreign_worker_yr_rel_edu_completed",
                                  "fw_info_yr_rel_edu_completed",
                                  "ji_offered_to_sec_j_foreign_worker",
                                  "ji_offered_to_sec_j_fw",
                                  "job_info_education",
                                  "job_info_work_postal_code",
                                  "job_info_work_state",
                                  "orig_file_date",
                                  "pw_amount_9089",
                                  "pw_unit_of_pay_9089",
                                  "wage_offer_from_9089",
                                  "wage_offer_unit_of_pay_9089",
                                  "wage_offered_from_9089",
                                  "wage_offered_unit_of_pay_9089"]]
small_col_visa_df.head()

,case_no,case_number,case_status,class_of_admission,country_of_citizenship,country_of_citzenship,decision_date,employer_country,employer_num_employees,employer_postal_code,...,job_info_education,job_info_work_postal_code,job_info_work_state,orig_file_date,pw_amount_9089,pw_unit_of_pay_9089,wage_offer_from_9089,wage_offer_unit_of_pay_9089,wage_offered_from_9089,wage_offered_unit_of_pay_9089
0,A-07323-97014,NaN,Certified,J-1,NaN,ARMENIA,2012-02-01,NaN,NaN,10010,...,NaN,NaN,NY,NaN,75629,yr,75629,yr,NaN,NaN
1,A-07332-99439,NaN,Denied,B-2,NaN,POLAND,2011-12-21,NaN,NaN,7072,...,NaN,NaN,NY,NaN,37024,yr,37024,yr,NaN,NaN
2,A-07333-99643,NaN,Certified,H-1B,NaN,INDIA,2011-12-01,NaN,NaN,23059,...,NaN,NaN,MD,NaN,47923,yr,47923,yr,NaN,NaN
3,A-07339-01930,NaN,Certified,B-2,NaN,SOUTH KOREA,2011-12-01,NaN,NaN,11354,...,NaN,NaN,NY,NaN,10.97,hr,10.97,hr,NaN,NaN
4,A-07345-03565,NaN,Certified,L-1,NaN,CANADA,2012-01-26,NaN,NaN,12204,...,NaN,NaN,NY,NaN,94890,yr,100000,yr,NaN,NaN

# Combine Similar Columns

In [36]:
#Case Number
small_col_visa_df['case_number'].fillna(small_col_visa_df['case_no'], inplace = True)
small_col_visa_df['case_number'].head()

0    A-07323-97014
1    A-07332-99439
2    A-07333-99643
3    A-07339-01930
4    A-07345-03565
Name: case_number, dtype: object

In [37]:
#Country of Citizenship
small_col_visa_df['country_of_citizenship'].fillna(small_col_visa_df['country_of_citzenship'], inplace = True)

In [38]:
#FW Birth Country
small_col_visa_df['foreign_worker_info_birth_country'].fillna(small_col_visa_df['fw_info_birth_country'], inplace = True)

In [39]:
#FW Postal Code
small_col_visa_df['foreign_worker_info_postal_code'].fillna(small_col_visa_df['fw_info_postal_code'], inplace = True)

In [40]:
#FW Has Required Experience?
small_col_visa_df['foreign_worker_info_rel_occup_exp'].fillna(small_col_visa_df['fw_info_rel_occup_exp'], inplace = True)

In [41]:
#FW completed Required Training?
small_col_visa_df['foreign_worker_info_training_comp'].fillna(small_col_visa_df['fw_info_training_comp'], inplace = True)

In [42]:
#FW has ownership interest?
small_col_visa_df['foreign_worker_ownership_interest'].fillna(small_col_visa_df['fw_ownership_interest'], inplace = True)

In [43]:
#FW has required Education?
small_col_visa_df['foreign_worker_yr_rel_edu_completed'].fillna(small_col_visa_df['fw_info_yr_rel_edu_completed'], inplace = True)

In [44]:
#FW is position being sponsored?
small_col_visa_df['ji_offered_to_sec_j_foreign_worker'].fillna(small_col_visa_df['ji_offered_to_sec_j_fw'], inplace = True)

In [45]:
# Wage offered
small_col_visa_df['wage_offer_from_9089'].fillna(small_col_visa_df['wage_offered_from_9089'], inplace = True)

In [46]:
# Unit of Pay for wage offered
small_col_visa_df['wage_offer_unit_of_pay_9089'].fillna(small_col_visa_df['wage_offered_unit_of_pay_9089'], inplace = True)

# Attempting to calculate an adjusted Yearly wage

In [47]:
#How are they paid?
small_col_visa_df.wage_offer_unit_of_pay_9089.unique()

array(['yr', 'hr', 'mth', 'wk', 'bi', nan, 'Year', 'Hour', 'Week',
       'Month', 'Bi-Weekly'], dtype=object)

In [48]:
for index, row in small_col_visa_df.iterrows():
    if row["wage_offer_unit_of_pay_9089"] == "hr":
        row["Adj_annual_wage"] = row["wage_offer_from_9089"] * 40 * 50
        
        # 40 hrs/ week , 50weeks/year
        
        #Goal would be to contiue this for the other wages

In [25]:
small_col_visa_df[["Adj_annual_wage"]].head()

KeyError: "None of [Index(['Adj_annual_wage'], dtype='object')] are in the [columns]"

In [ ]:
# Keep Columns -> We can remove the other related columns because they are now duplicates
# case_number
# country_of_citizenship
# foreign_worker_info_birth_country
# foreign_worker_info_postal_code
# foreign_worker_info_rel_occup_exp
# foreign_worker_info_training_comp
# foreign_worker_ownership_interest
# foreign_worker_yr_rel_edu_completed
# ji_offered_to_sec_j_foreign_worker
# wage_offer_from_9089
# wage_offer_unit_of_pay_9089

In [49]:
slim_visa_db =  small_col_visa_df[["case_number",
                                  "case_status",
                                  "class_of_admission",
                                  "country_of_citizenship",
                                  
                                  "decision_date",
                                  "employer_country",
                                  "employer_num_employees",
                                  "employer_postal_code",
                                  "employer_state",
                                  "employer_yr_estab",
                                  "foreign_worker_info_birth_country",
                                  
                                  "foreign_worker_info_education",
                                  "foreign_worker_info_major",
                                  "foreign_worker_info_postal_code",
                                  
                                  "foreign_worker_info_rel_occup_exp",
                                  
                                  "foreign_worker_info_state",
                                  "foreign_worker_info_training_comp",
                                  
                                  "foreign_worker_ownership_interest",
                                  
                                  "foreign_worker_yr_rel_edu_completed",
                                  
                                  "ji_offered_to_sec_j_foreign_worker",
                                  
                                  "job_info_education",
                                  "job_info_work_postal_code",
                                  "job_info_work_state",
                                  "orig_file_date",
                                  "pw_amount_9089",
                                  "pw_unit_of_pay_9089",
                                  "wage_offer_from_9089",
                                  "wage_offer_unit_of_pay_9089"]]
slim_visa_db.head()

,case_number,case_status,class_of_admission,country_of_citizenship,decision_date,employer_country,employer_num_employees,employer_postal_code,employer_state,employer_yr_estab,...,foreign_worker_yr_rel_edu_completed,ji_offered_to_sec_j_foreign_worker,job_info_education,job_info_work_postal_code,job_info_work_state,orig_file_date,pw_amount_9089,pw_unit_of_pay_9089,wage_offer_from_9089,wage_offer_unit_of_pay_9089
0,A-07323-97014,Certified,J-1,ARMENIA,2012-02-01,NaN,NaN,10010,NY,NaN,...,NaN,NaN,NaN,NaN,NY,NaN,75629,yr,75629,yr
1,A-07332-99439,Denied,B-2,POLAND,2011-12-21,NaN,NaN,7072,NY,NaN,...,NaN,NaN,NaN,NaN,NY,NaN,37024,yr,37024,yr
2,A-07333-99643,Certified,H-1B,INDIA,2011-12-01,NaN,NaN,23059,VA,NaN,...,NaN,NaN,NaN,NaN,MD,NaN,47923,yr,47923,yr
3,A-07339-01930,Certified,B-2,SOUTH KOREA,2011-12-01,NaN,NaN,11354,NY,NaN,...,NaN,NaN,NaN,NaN,NY,NaN,10.97,hr,10.97,hr
4,A-07345-03565,Certified,L-1,CANADA,2012-01-26,NaN,NaN,12204,NY,NaN,...,NaN,NaN,NaN,NaN,NY,NaN,94890,yr,100000,yr

In [50]:
slim_visa_db.set_index('case_number')

,case_status,class_of_admission,country_of_citizenship,decision_date,employer_country,employer_num_employees,employer_postal_code,employer_state,employer_yr_estab,foreign_worker_info_birth_country,...,foreign_worker_yr_rel_edu_completed,ji_offered_to_sec_j_foreign_worker,job_info_education,job_info_work_postal_code,job_info_work_state,orig_file_date,pw_amount_9089,pw_unit_of_pay_9089,wage_offer_from_9089,wage_offer_unit_of_pay_9089
case_number,,,,,,,,,,,,,,,,,,,,,
A-07323-97014,Certified,J-1,ARMENIA,2012-02-01,NaN,NaN,10010,NY,NaN,NaN,...,NaN,NaN,NaN,NaN,NY,NaN,75629,yr,75629,yr
A-07332-99439,Denied,B-2,POLAND,2011-12-21,NaN,NaN,7072,NY,NaN,NaN,...,NaN,NaN,NaN,NaN,NY,NaN,37024,yr,37024,yr
A-07333-99643,Certified,H-1B,INDIA,2011-12-01,NaN,NaN,23059,VA,NaN,NaN,...,NaN,NaN,NaN,NaN,MD,NaN,47923,yr,47923,yr
A-07339-01930,Certified,B-2,SOUTH KOREA,2011-12-01,NaN,NaN,11354,NY,NaN,NaN,...,NaN,NaN,NaN,NaN,NY,NaN,10.97,hr,10.97,hr
A-07345-03565,Certified,L-1,CANADA,2012-01-26,NaN,NaN,12204,NY,NaN,NaN,...,NaN,NaN,NaN,NaN,NY,NaN,94890,yr,100000,yr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A-16363-85407,Withdrawn,NaN,SOUTH KOREA,2016-12-30,UNITED STATES OF AMERICA,3.0,92802,CA,2014.0,SOUTH KOREA,...,1995.0,Y,Associate's,92802,CA,NaN,"28,330.00",Year,"28,330.00",Year
A-16271-56745,Withdrawn,L-1,VIETNAM,2016-12-30,UNITED STATES OF AMERICA,63000.0,98052,WA,1975.0,VIETNAM,...,2006.0,Y,Master's,2142,MA,NaN,"107,744.00",Year,"122,000.00",Year
A-16354-82345,Withdrawn,H-1B,INDIA,2016-12-30,UNITED STATES OF AMERICA,33.0,48197,MI,2010.0,INDIA,...,2013.0,Y,Master's,48197,MI,NaN,"79,082.00",Year,"79,082.00",Year
A-16357-84250,Withdrawn,B-2,SOUTH KOREA,2016-12-30,UNITED STATES OF AMERICA,16.0,85018,AZ,2013.0,SOUTH KOREA,...,NaN,Y,None,85018,AZ,NaN,"37,981.00",Year,"37,981.00",Year
A-16279-59292,Withdrawn,H-1B,CHINA,2016-12-30,UNITED STATES OF AMERICA,54000.0,95052,CA,1968.0,CHINA,...,2016.0,Y,Master's,80528,CO,NaN,"84,926.00",Year,"84,926.00",Year

In [54]:
rds_connection_string = f"postgres:{postgres_password}@localhost:5432/ETL_Project"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [55]:
engine.table_names()

['visa_data']

In [58]:
engine.execute('DELETE from "visa_data"')
result = engine.execute('SELECT * FROM "visa_data"')

slim_visa_db.to_sql(name='visa_data', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "visa_data_pkey"
DETAIL:  Key (case_number)=(A-10089-92490) already exists.

[SQL: INSERT INTO visa_data (case_number, case_status, class_of_admission, country_of_citizenship, decision_date, employer_country, employer_num_employees, employer_postal_code, employer_state, employer_yr_estab, foreign_worker_info_birth_country, foreign_worker_info_education, foreign_worker_info_major, foreign_worker_info_postal_code, foreign_worker_info_rel_occup_exp, foreign_worker_info_state, foreign_worker_info_training_comp, foreign_worker_ownership_interest, foreign_worker_yr_rel_edu_completed, ji_offered_to_sec_j_foreign_worker, job_info_education, job_info_work_postal_code, job_info_work_state, orig_file_date, pw_amount_9089, pw_unit_of_pay_9089, wage_offer_from_9089, wage_offer_unit_of_pay_9089) VALUES (%(case_number)s, %(case_status)s, %(class_of_admission)s, %(country_of_citizenship)s, %(decision_date)s, %(employer_country)s, %(employer_num_employees)s, %(employer_postal_code)s, %(employer_state)s, %(employer_yr_estab)s, %(foreign_worker_info_birth_country)s, %(foreign_worker_info_education)s, %(foreign_worker_info_major)s, %(foreign_worker_info_postal_code)s, %(foreign_worker_info_rel_occup_exp)s, %(foreign_worker_info_state)s, %(foreign_worker_info_training_comp)s, %(foreign_worker_ownership_interest)s, %(foreign_worker_yr_rel_edu_completed)s, %(ji_offered_to_sec_j_foreign_worker)s, %(job_info_education)s, %(job_info_work_postal_code)s, %(job_info_work_state)s, %(orig_file_date)s, %(pw_amount_9089)s, %(pw_unit_of_pay_9089)s, %(wage_offer_from_9089)s, %(wage_offer_unit_of_pay_9089)s)]
[parameters: ({'case_number': 'A-07323-97014', 'case_status': 'Certified', 'class_of_admission': 'J-1', 'country_of_citizenship': 'ARMENIA', 'decision_date': '2012-02-01', 'employer_country': None, 'employer_num_employees': None, 'employer_postal_code': 10010.0, 'employer_state': 'NY', 'employer_yr_estab': None, 'foreign_worker_info_birth_country': None, 'foreign_worker_info_education': None, 'foreign_worker_info_major': None, 'foreign_worker_info_postal_code': None, 'foreign_worker_info_rel_occup_exp': None, 'foreign_worker_info_state': None, 'foreign_worker_info_training_comp': None, 'foreign_worker_ownership_interest': None, 'foreign_worker_yr_rel_edu_completed': None, 'ji_offered_to_sec_j_foreign_worker': None, 'job_info_education': None, 'job_info_work_postal_code': None, 'job_info_work_state': 'NY', 'orig_file_date': None, 'pw_amount_9089': 75629.0, 'pw_unit_of_pay_9089': 'yr', 'wage_offer_from_9089': 75629.0, 'wage_offer_unit_of_pay_9089': 'yr'}, {'case_number': 'A-07332-99439', 'case_status': 'Denied', 'class_of_admission': 'B-2', 'country_of_citizenship': 'POLAND', 'decision_date': '2011-12-21', 'employer_country': None, 'employer_num_employees': None, 'employer_postal_code': 7072.0, 'employer_state': 'NY', 'employer_yr_estab': None, 'foreign_worker_info_birth_country': None, 'foreign_worker_info_education': None, 'foreign_worker_info_major': None, 'foreign_worker_info_postal_code': None, 'foreign_worker_info_rel_occup_exp': None, 'foreign_worker_info_state': None, 'foreign_worker_info_training_comp': None, 'foreign_worker_ownership_interest': None, 'foreign_worker_yr_rel_edu_completed': None, 'ji_offered_to_sec_j_foreign_worker': None, 'job_info_education': None, 'job_info_work_postal_code': None, 'job_info_work_state': 'NY', 'orig_file_date': None, 'pw_amount_9089': 37024.0, 'pw_unit_of_pay_9089': 'yr', 'wage_offer_from_9089': 37024.0, 'wage_offer_unit_of_pay_9089': 'yr'}, {'case_number': 'A-07333-99643', 'case_status': 'Certified', 'class_of_admission': 'H-1B', 'country_of_citizenship': 'INDIA', 'decision_date': '2011-12-01', 'employer_country': None, 'employer_num_employees': None, 'employer_postal_code': 23059.0, 'employer_state': 'VA', 'employer_yr_estab': None, 'foreign_worker_info_birth_country': None, 'foreign_worker_info_education': None, 'foreign_worker_info_major': None, 'foreign_worker_info_postal_code': None, 'foreign_worker_info_rel_occup_exp': None, 'foreign_worker_info_state': None, 'foreign_worker_info_training_comp': None, 'foreign_worker_ownership_interest': None, 'foreign_worker_yr_rel_edu_completed': None, 'ji_offered_to_sec_j_foreign_worker': None, 'job_info_education': None, 'job_info_work_postal_code': None, 'job_info_work_state': 'MD', 'orig_file_date': None, 'pw_amount_9089': 47923.0, 'pw_unit_of_pay_9089': 'yr', 'wage_offer_from_9089': 47923.0, 'wage_offer_unit_of_pay_9089': 'yr'}, {'case_number': 'A-07339-01930', 'case_status': 'Certified', 'class_of_admission': 'B-2', 'country_of_citizenship': 'SOUTH KOREA', 'decision_date': '2011-12-01', 'employer_country': None, 'employer_num_employees': None, 'employer_postal_code': 11354.0, 'employer_state': 'NY', 'employer_yr_estab': None, 'foreign_worker_info_birth_country': None, 'foreign_worker_info_education': None, 'foreign_worker_info_major': None, 'foreign_worker_info_postal_code': None, 'foreign_worker_info_rel_occup_exp': None, 'foreign_worker_info_state': None, 'foreign_worker_info_training_comp': None, 'foreign_worker_ownership_interest': None, 'foreign_worker_yr_rel_edu_completed': None, 'ji_offered_to_sec_j_foreign_worker': None, 'job_info_education': None, 'job_info_work_postal_code': None, 'job_info_work_state': 'NY', 'orig_file_date': None, 'pw_amount_9089': 10.97, 'pw_unit_of_pay_9089': 'hr', 'wage_offer_from_9089': 10.97, 'wage_offer_unit_of_pay_9089': 'hr'}, {'case_number': 'A-07345-03565', 'case_status': 'Certified', 'class_of_admission': 'L-1', 'country_of_citizenship': 'CANADA', 'decision_date': '2012-01-26', 'employer_country': None, 'employer_num_employees': None, 'employer_postal_code': 12204.0, 'employer_state': 'NY', 'employer_yr_estab': None, 'foreign_worker_info_birth_country': None, 'foreign_worker_info_education': None, 'foreign_worker_info_major': None, 'foreign_worker_info_postal_code': None, 'foreign_worker_info_rel_occup_exp': None, 'foreign_worker_info_state': None, 'foreign_worker_info_training_comp': None, 'foreign_worker_ownership_interest': None, 'foreign_worker_yr_rel_edu_completed': None, 'ji_offered_to_sec_j_foreign_worker': None, 'job_info_education': None, 'job_info_work_postal_code': None, 'job_info_work_state': 'NY', 'orig_file_date': None, 'pw_amount_9089': 94890.0, 'pw_unit_of_pay_9089': 'yr', 'wage_offer_from_9089': 100000.0, 'wage_offer_unit_of_pay_9089': 'yr'}, {'case_number': 'A-07352-06288', 'case_status': 'Denied', 'class_of_admission': 'EWI', 'country_of_citizenship': 'ECUADOR', 'decision_date': '2012-01-26', 'employer_country': None, 'employer_num_employees': None, 'employer_postal_code': 7072.0, 'employer_state': 'NY', 'employer_yr_estab': None, 'foreign_worker_info_birth_country': None, 'foreign_worker_info_education': None, 'foreign_worker_info_major': None, 'foreign_worker_info_postal_code': None, 'foreign_worker_info_rel_occup_exp': None, 'foreign_worker_info_state': None, 'foreign_worker_info_training_comp': None, 'foreign_worker_ownership_interest': None, 'foreign_worker_yr_rel_edu_completed': None, 'ji_offered_to_sec_j_foreign_worker': None, 'job_info_education': None, 'job_info_work_postal_code': None, 'job_info_work_state': 'NY', 'orig_file_date': None, 'pw_amount_9089': 37024.0, 'pw_unit_of_pay_9089': 'yr', 'wage_offer_from_9089': 37024.0, 'wage_offer_unit_of_pay_9089': 'yr'}, {'case_number': 'A-07354-06926', 'case_status': 'Certified-Expired', 'class_of_admission': 'H-1B', 'country_of_citizenship': 'MEXICO', 'decision_date': '2011-10-07', 'employer_country': None, 'employer_num_employees': None, 'employer_postal_code': 12180.0, 'employer_state': 'NY', 'employer_yr_estab': None, 'foreign_worker_info_birth_country': None, 'foreign_worker_info_education': None, 'foreign_worker_info_major': None, 'foreign_worker_info_postal_code': None, 'foreign_worker_info_rel_occup_exp': None, 'foreign_worker_info_state': None, 'foreign_worker_info_training_comp': None, 'foreign_worker_ownership_interest': None, 'foreign_worker_yr_rel_edu_completed': None, 'ji_offered_to_sec_j_foreign_worker': None, 'job_info_education': None, 'job_info_work_postal_code': None, 'job_info_work_state': 'NY', 'orig_file_date': None, 'pw_amount_9089': 47083.33, 'pw_unit_of_pay_9089': 'yr', 'wage_offer_from_9089': 47084.0, 'wage_offer_unit_of_pay_9089': 'yr'}, {'case_number': 'A-08004-10147', 'case_status': 'Denied', 'class_of_admission': 'E-2', 'country_of_citizenship': 'CANADA', 'decision_date': '2012-02-06', 'employer_country': None, 'employer_num_employees': None, 'employer_postal_code': 33069.0, 'employer_state': 'FL', 'employer_yr_estab': None, 'foreign_worker_info_birth_country': None, 'foreign_worker_info_education': None, 'foreign_worker_info_major': None, 'foreign_worker_info_postal_code': None, 'foreign_worker_info_rel_occup_exp': None, 'foreign_worker_info_state': None, 'foreign_worker_info_training_comp': None, 'foreign_worker_ownership_interest': None, 'foreign_worker_yr_rel_edu_completed': None, 'ji_offered_to_sec_j_foreign_worker': None, 'job_info_education': None, 'job_info_work_postal_code': None, 'job_info_work_state': 'FL', 'orig_file_date': None, 'pw_amount_9089': 36733.0, 'pw_unit_of_pay_9089': 'yr', 'wage_offer_from_9089': 36733.0, 'wage_offer_unit_of_pay_9089': 'yr'}  ... displaying 10 of 374362 total bound parameter sets ...  {'case_number': 'A-16357-84250', 'case_status': 'Withdrawn', 'class_of_admission': 'B-2', 'country_of_citizenship': 'SOUTH KOREA', 'decision_date': '2016-12-30', 'employer_country': 'UNITED STATES OF AMERICA', 'employer_num_employees': 16.0, 'employer_postal_code': '85018', 'employer_state': 'AZ', 'employer_yr_estab': 2013.0, 'foreign_worker_info_birth_country': 'SOUTH KOREA', 'foreign_worker_info_education': 'None', 'foreign_worker_info_major': None, 'foreign_worker_info_postal_code': '90020', 'foreign_worker_info_rel_occup_exp': 'A', 'foreign_worker_info_state': 'CA', 'foreign_worker_info_training_comp': 'A', 'foreign_worker_ownership_interest': 'N', 'foreign_worker_yr_rel_edu_completed': None, 'ji_offered_to_sec_j_foreign_worker': 'Y', 'job_info_education': 'None', 'job_info_work_postal_code': '85018', 'job_info_work_state': 'AZ', 'orig_file_date': None, 'pw_amount_9089': '37,981.00', 'pw_unit_of_pay_9089': 'Year', 'wage_offer_from_9089': '37,981.00', 'wage_offer_unit_of_pay_9089': 'Year'}, {'case_number': 'A-16279-59292', 'case_status': 'Withdrawn', 'class_of_admission': 'H-1B', 'country_of_citizenship': 'CHINA', 'decision_date': '2016-12-30', 'employer_country': 'UNITED STATES OF AMERICA', 'employer_num_employees': 54000.0, 'employer_postal_code': '95052', 'employer_state': 'CA', 'employer_yr_estab': 1968.0, 'foreign_worker_info_birth_country': 'CHINA', 'foreign_worker_info_education': "Master's", 'foreign_worker_info_major': 'ELECTRICAL ENGINEERING', 'foreign_worker_info_postal_code': '80525', 'foreign_worker_info_rel_occup_exp': 'A', 'foreign_worker_info_state': 'CO', 'foreign_worker_info_training_comp': 'A', 'foreign_worker_ownership_interest': 'N', 'foreign_worker_yr_rel_edu_completed': 2016.0, 'ji_offered_to_sec_j_foreign_worker': 'Y', 'job_info_education': "Master's", 'job_info_work_postal_code': '80528', 'job_info_work_state': 'CO', 'orig_file_date': None, 'pw_amount_9089': '84,926.00', 'pw_unit_of_pay_9089': 'Year', 'wage_offer_from_9089': '84,926.00', 'wage_offer_unit_of_pay_9089': 'Year'})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [ ]:
# Attempts to clean the data

In [ ]:
#Case Number

for index, row in small_col_visa_df.iterrows():
    df['case_number'].fillna(df['case_no'])
    
    if pd.isnull(row['case_number']):
        row['caseNumber'] = row['case_no']

    elif pd.notnull(row['case_number']):
        row['caseNumber'] = row['case_number']
        
    elif pd.isnull(row['country_of_citizenship']):
        row['countryCitizenship'] = row['country_of_citzenship']

    else:
        row['countryCitizenship'] = row['country_of_citizenship']
    
        
small_col_visa_df[["country_of_citizenship","country_of_citzenship","countryCitizenship"]].head()
     
# pd.notnull(row['country_of_citizenship'])

In [ ]:
#Country of Citizenship

for index, row in small_col_visa_df.iterrows():
    if pd.isnull(row['country_of_citizenship']):
        row['countryCitizenship'] = row['country_of_citzenship']

    else:
        row['countryCitizenship'] = row['country_of_citizenship']
        
small_col_visa_df[["country_of_citizenship","country_of_citzenship","countryCitizenship"]].head()

In [ ]:
#Foreign Worker Birth Country

for index, row in small_col_visa_df.iterrows():
    if pd.isnull(row['foreign_worker_info_birth_country']):
        row['birthCountry'] = row['fw_info_birth_country']

    else:
        row['birthCountry'] = row['foreign_worker_info_birth_country']
        
small_col_visa_df[["foreign_worker_info_birth_country", "fw_info_birth_country", "birthCountry"]].head()